.main-popup {
    width: 420px;
    padding: 10px;
}

.popup-tooltip:after {
    content: attr(data-text);
    color: red;
}

.note-desc {
    font-size: 16px;
    line-height: 16px;
    min-width: 60px;
}

label {
    cursor: pointer;
}

.uk-tab>.uk-active>a {
    color: #1e87f0;
}

.space {
    margin-bottom: 10px;
}
